.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 12;
    background-color: rgba(0, 0, 0, 0.5);
}

.my-create-modal {
    background-color: #262626;
    color: #e6e6e6;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,0.05) 0px 0.1rem 0.3rem, rgba(0,0,0,0.05) 0px 0.1rem 0.2 rem, rgba(0,0,0,0.05) 0px 0.5 rem 1.5rem;
    display: flex;
    transform: translate(-50%, -50%);
    max-height: 320px;
    max-width: 538px;
    opacity: 1;
    transition: opacity .2s ease;
    

    .create-modal-title {
        padding: 20px;
        padding-bottom: 13px;
        font-size: 18px;

    }

    .create-modal-name {
        padding-left: 20px;
        display: flex;
        font-size: 12px;
        padding-top: 15px;
    }

    p {
        font-size: 14px;
        line-height: 20px;
        color: #a6a6a6;
        margin: 0;
        padding-top: 7px;
        padding-left: 20px;
        font-weight: inherit;
        word-wrap: break-word;
    }

    .create-modal-notebook-input {
        padding-left: 20px;
        width: 90%;
        padding: 8px 15px;
        margin: 0px 20px 0px 20px;
        box-sizing: border-box;        
        border-radius: 5px;
        border: 1px solid #4d4d4d;
        margin-top: 7px;
        margin-bottom: 60px;
    }

    .create-modal-notebook-input:focus {
        border: 1px solid #73c2fb;
    }

    .create-modal-buttons {
        padding: 20px;
        display: flex;
        justify-content: flex-end;
        border-top: 1px solid #737373;
        padding: 20px;
        padding-right: 30px;
    }

    button {
        font-size: 14px;
        padding: 30px 15px ;
        margin-left: 10px;  
    }

    .create-modal-cancel {
        background-color: #262626;
        color: #a6a6a6;
        border: 1px solid grey;
        border-radius: 5px;
        padding: 10px;
        font-size: 14px;
    }

    .create-modal-cancel:hover {
        background-color: #333;
        color: #ccc; 
    }

    .create-modal-create {
        background-color: #00A82D;
        color: black;
        border-radius: 5px;
        padding: 10px;
        font-size: 14px;
    }

    .create-modal-create:hover {
        background-color: #26b54c;
        color: #000
    }
}