::-webkit-scrollbar {
    display: none
}

.notes-index > ::-webkit-scrollbar {
    width: 10px;
}

.notes-index > ::-webkit-scrollbar-thumb:hover {
    background: rgb(125,125,125);
}

.notes-index {
    display: flex;
    height: 100vh;
    width: 380px;
    flex-direction: column;
    background-color: #1a1a1a;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-right: 1px solid #000000;
}

.notes-index-header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #333333;
    height: auto;
    padding: 22px 22px 12px 30px;
    font-size: 30px;
    line-height:28px;
    letter-spacing: .03em;
    min-height: 28px;
    min-width: 20px;
    color: #d9d9d9;
}

.notes-index-img {
    width: 20px;
    height: 26px;
    padding-top: 2px;
    padding-right: 8px;
}

.notes-index-img-notes{
    display: flex;
    flex-direction: row;
}

.notes-index-count{
    font-size: 14px;
    color: #a6a6a6;
    padding-top: 20px;
}

.notes-index-content {
    height: auto;
    overflow-y: auto;
}

.notes-index-content > ul {
    list-style-type: none;
}

.notes-index-content > ul > a > li {
    display: block;
    flex-direction: column;
    height: 120px;
    padding-top: 20px;
    position: sticky;
    padding-left: 30px;
}

.notes-index-content > ul > a > li:hover {
    background-color: #262626;
}

.note-item-title {
    font-size: 25px;
}

.note-item-body {
    padding-top: 10px;
    font-size: 15px;
    color: #737373
}

.notes-index > a{
    color: grey;
    text-decoration: none;
}

.notes-list-firstnote {
    color: #e0e0e0;
    text-align: center;
    justify-content: center;
    padding-top: 500px;
    font-size: 18px;
}

.notes-list-clickme {
    color: #a6a6a6;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    padding-top: 20px;
}

.notes-list-newnote {
    color: #00a82d;
    padding-left: 3px;
}

.notes-list-newnote:hover {
    text-decoration: underline;
}

.notes-list-clickme-second {
    padding-top: 8px;
}

.notes-list-img {
    padding-left: 150px;
    padding-bottom: 30px;
    width: 100px;
}

.note-item-datetime {
    color: #737373;
    font: inherit;
    padding-top: 25px;
}