::-webkit-scrollbar {
    display: none
}

.notes-index > ::-webkit-scrollbar {
    width: 10px;
}

.notes-index > ::-webkit-scrollbar-thumb:hover {
    background: rgb(125,125,125);
}

.notes-index {
    display: flex;
    height: 100vh;
    width: 380px;
    flex-direction: column;
    background-color: #1a1a1a;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notes-index-header {
    display: flex;
    border-bottom: 1px solid #262626;
    height: auto;
    padding: 22px 22px 22px 30px;
    font-size: 30px;
    line-height:28px;
    letter-spacing: .03em;
    min-height: 28px;
    min-width: 20px;
}

.notes-index-content {
    height: auto;
    overflow-y: auto;
}

.notes-index-content > ul {
    list-style-type: none;
}

.notes-index-content > ul > a > li {
    display: block;
    flex-direction: column;
    height: 120px;
    padding-top: 15px;
    position: sticky;
    padding-left: 20px;
}

.notes-index-content > ul > a > li:hover {
    background-color: #262626;
}


.note-item-title {
    font-size: 25px;
}

.note-item-body {
    padding-bottom: 5px;
    font-size: 20px;
}

.notes-index > a{
    color: grey;
    text-decoration: none;
}